In [22]:
import numpy as np
import pandas as pd
import xgboosas xgb x
import sklearn
from sklearn.model_selection import train_test_split
from sklearn imporpreprocessingsi
from sklearn.metrics import plot_confusion_matr
from matplotlib import pyplot as pltix

In [3]:
dataset = r"E:\StudyLAB\1_2564\499\dataset\test_2.csv"
df = pd.read_csv(dataset)
# print(df)

# df.drop('NUMACC')
df.head(5)

,NUMACC,distance,rain,temperatur,wind,ROAD_TYPE,SURFACE,LANE,ONEWAY,Speed
0,1,174.60,2.22,27.82,3.80,3,2,2,1,45
1,1,111.78,0.56,28.66,5.63,1,1,2,0,70
2,1,92.26,2.50,27.84,7.13,3,2,2,0,45
3,1,88.52,1.74,26.33,3.91,3,2,2,1,45
4,0,67.56,3.58,27.01,3.63,1,1,2,1,80

In [4]:
df.dtypes

NUMACC          int64
distance      float64
rain          float64
temperatur    float64
wind          float64
ROAD_TYPE       int64
SURFACE         int64
LANE            int64
ONEWAY          int64
Speed           int64
dtype: object

In [5]:
df.head(5)

,NUMACC,distance,rain,temperatur,wind,ROAD_TYPE,SURFACE,LANE,ONEWAY,Speed
0,1,174.60,2.22,27.82,3.80,3,2,2,1,45
1,1,111.78,0.56,28.66,5.63,1,1,2,0,70
2,1,92.26,2.50,27.84,7.13,3,2,2,0,45
3,1,88.52,1.74,26.33,3.91,3,2,2,1,45
4,0,67.56,3.58,27.01,3.63,1,1,2,1,80

In [6]:
x = df.drop('NUMACC',axis = 1).copy()
# x= df.drop('numacc2',axis = 1).copy()
x.head()

   distance  rain  temperatur  wind  ROAD_TYPE  SURFACE  LANE  ONEWAY  Speed
0    174.60  2.22       27.82  3.80          3        2     2       1     45
1    111.78  0.56       28.66  5.63          1        1     2       0     70
2     92.26  2.50       27.84  7.13          3        2     2       0     45
3     88.52  1.74       26.33  3.91          3        2     2       1     45
4     67.56  3.58       27.01  3.63          1        1     2       1     80

In [7]:
y = df['NUMACC'].copy()
y.head()

0    1
1    1
2    1
3    1
4    0
Name: NUMACC, dtype: int64

In [8]:
pd.get_dummies(x,columns=['ROAD_TYPE']).head()
pd.get_dummies(x,columns=['SURFACE']).head()

,distance,rain,temperatur,wind,ROAD_TYPE,LANE,ONEWAY,Speed,SURFACE_1,SURFACE_2,SURFACE_9
0,174.60,2.22,27.82,3.80,3,2,1,45,0,1,0
1,111.78,0.56,28.66,5.63,1,2,0,70,1,0,0
2,92.26,2.50,27.84,7.13,3,2,0,45,0,1,0
3,88.52,1.74,26.33,3.91,3,2,1,45,0,1,0
4,67.56,3.58,27.01,3.63,1,2,1,80,1,0,0

In [13]:
X_encoded = pd.get_dummies(x,columns=['ROAD_TYPE','SURFACE','LANE'])
X_encoded.head()

,distance,rain,temperatur,wind,ONEWAY,Speed,ROAD_TYPE_1,ROAD_TYPE_2,ROAD_TYPE_3,ROAD_TYPE_5,...,ROAD_TYPE_8,ROAD_TYPE_9,SURFACE_1,SURFACE_2,SURFACE_9,LANE_1,LANE_2,LANE_3,LANE_4,LANE_6
0,174.60,2.22,27.82,3.80,1,45,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
1,111.78,0.56,28.66,5.63,0,70,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,92.26,2.50,27.84,7.13,0,45,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
3,88.52,1.74,26.33,3.91,1,45,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
4,67.56,3.58,27.01,3.63,1,80,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [10]:
y.unique()

array([1, 0], dtype=int64)

In [11]:
sum(y)/len(y)

0.6624764299182904

In [12]:
# X_train,X_test,y_train,y_test = train_test_split(X_encoded,y,random_state=42,stratify=y)_train,X_test,y_train,y_test = train_test_split(X_encoded,y,random_state=42,stratify=y)
y# =preprocessing.LabelEncoder().fit_transform(y)
Y-
n# label_encoder = LabelEncoder()
l# abel_encoder = label_encoder.fit(Yy
la# bel_encoded_y = label_encoder.transform(Y)y

SyntaxError: invalid syntax (Temp/ipykernel_23072/2202762029.py, line 3)

In [15]:
x_train, x_test, y_train, y_test = train_test_split(X_encoded,y,test_size=0.3, random_state=42)

In [16]:
x_train.head()

,distance,rain,temperatur,wind,ONEWAY,Speed,ROAD_TYPE_1,ROAD_TYPE_2,ROAD_TYPE_3,ROAD_TYPE_5,...,ROAD_TYPE_8,ROAD_TYPE_9,SURFACE_1,SURFACE_2,SURFACE_9,LANE_1,LANE_2,LANE_3,LANE_4,LANE_6
1268,111.78,3.81,28.47,4.64,1,80,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
346,67.56,1.30,29.85,6.62,0,45,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
1100,297.21,0.89,26.42,2.85,0,45,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1556,282.67,8.31,26.36,4.77,0,45,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
529,67.56,0.27,25.70,2.48,1,45,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0

In [17]:
print(y_train)

1268    1
346     1
1100    1
1556    1
529     1
       ..
1130    0
1294    1
860     1
1459    1
1126    1
Name: NUMACC, Length: 1113, dtype: int64

In [15]:
sum(y_train/len(y_train))

2.782569631626223

In [16]:
sum(y_test/len(y_test))

2.9058577405857657

In [16]:
clf_xgb = xgb.XGBClassifier(objective='binary:logistic',missing=None,seed=42,use_label_encoder=False)
clf_xgb.fit(x_train,y_train,verbose=True,early_stopping_rounds=10,eval_metric='aucpr',eval_set=[(x_test,y_test)])

[0]	validation_0-aucpr:0.89198
[1]	validation_0-aucpr:0.91149
[2]	validation_0-aucpr:0.92110
[3]	validation_0-aucpr:0.92256
[4]	validation_0-aucpr:0.92885
[5]	validation_0-aucpr:0.93319
[6]	validation_0-aucpr:0.93759
[7]	validation_0-aucpr:0.94341
[8]	validation_0-aucpr:0.94461
[9]	validation_0-aucpr:0.94746
[10]	validation_0-aucpr:0.94824
[11]	validation_0-aucpr:0.94890
[12]	validation_0-aucpr:0.94871
[13]	validation_0-aucpr:0.94923
[14]	validation_0-aucpr:0.94967
[15]	validation_0-aucpr:0.95136
[16]	validation_0-aucpr:0.95062
[17]	validation_0-aucpr:0.95234
[18]	validation_0-aucpr:0.95240
[19]	validation_0-aucpr:0.95378
[20]	validation_0-aucpr:0.95406
[21]	validation_0-aucpr:0.95253
[22]	validation_0-aucpr:0.95136
[23]	validation_0-aucpr:0.95107
[24]	validation_0-aucpr:0.95071
[25]	validation_0-aucpr:0.95024
[26]	validation_0-aucpr:0.94817
[27]	validation_0-aucpr:0.95003
[28]	validation_0-aucpr:0.95008
[29]	validation_0-aucpr:0.95005

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=None, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=42,
              subsample=1, tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [24]:

plt.figure(figsize=(15,15))
xgb.plot_importance(ax=plt.gca(),importance_type='weight')

NameError: name 'booster' is not defined

In [17]:
feature_name = []
feature_names = df_ohe.columns.tolist()
dtrain = xgb.DMatrix(x_train,label=y_train,feature_names=feature_names)
dtest =  xgb.DMatrix(x_test,label=y_test,feature_names=feature_names)

NameError: name 'feature_names' is not defined

In [49]:
plot_confusion_matrix(clf_xgb,x_test,y_test,values_format='d',display_labels=["accident","no acc"])

XGBoostError: [21:30:23] c:\users\administrator\workspace\xgboost-win64_release_1.4.0\src\c_api\c_api_utils.h:161: Invalid missing value: null